<%= simple_form_for(@scoreboard) do |f| %>
  <%= f.error_notification %>

<div class="form-inputs">
    <%= f.input :alaska %>
	<%= f.input :arizona %>
	<%= f.input :arkansas %>
	<%= f.input :alabama %>
	<%= f.input :california %>
	<%= f.input :colorado %>
	<%= f.input :connecticut %>
	<%= f.input :delaware %>
	<%= f.input :district_of_columbia %>
	<%= f.input :florida %>	
	<%= f.input :georgia %>
	<%= f.input :hawaii %>
	<%= f.input :idaho %>
	<%= f.input :illinois %>
	<%= f.input :indiana %>
	<%= f.input :iowa %>
	<%= f.input :kansas %>
	<%= f.input :kentucky %>
	<%= f.input :louisiana %>
	<%= f.input :maine %>
	<%= f.input :maryland %>
	<%= f.input :massachusetts %>
	<%= f.input :michigan %>
	<%= f.input :minnesota %>
	<%= f.input :mississippi %>
	<%= f.input :missouri %>
	<%= f.input :montana %>
	<%= f.input :nebraska %>
	<%= f.input :nevada %>
	<%= f.input :new_hampshire %>
	<%= f.input :new_jersey %>
	<%= f.input :new_mexico %>
	<%= f.input :new_york %>
	<%= f.input :north_carolina %>
	<%= f.input :north_dakota %>
	<%= f.input :ohio %>
	<%= f.input :oklahoma %>
	<%= f.input :oregon %>
	<%= f.input :pennsylvania %>
	<%= f.input :puerto_rico %>
	<%= f.input :rhode_island %>
	<%= f.input :south_carolina %>
	<%= f.input :south_dakota %>
	<%= f.input :tennessee %>
	<%= f.input :texas %>
	<%= f.input :utah %>
	<%= f.input :vermont %>
	<%= f.input :virginia %>
	<%= f.input :washington %>
	<%= f.input :west_virginia %>
	<%= f.input :wisconsin %>
	<%= f.input :wyoming %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
